.articleContent {
  padding: 20px;
  background-color: #e9e9e9;
  border: thin solid gray;
  border-radius: 10px;
}
.commentDiv {
  margin-top: 1em;
}

.comment, .commentAuthor {
  font-size: 0.8em;
}

.commentAuthor {
  font-weight: bold;
  color: #186caf;
}

.commentTime {
  font-size: 0.6em;
  color: #777777;
}
input[type=text] {
  padding: 0.4em;
}

/* Table */
.table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}

.table th {
  font-size: 1.1em;
  padding: 10px 0 10px 10px;
  text-align: left;
  background-color: #468cb1;
  border-bottom: 1px solid black
}

.table td {
  color: #222222;
  background-color: #e0e0e0;
  padding: 12px 0 12px 10px;
}

.table-striped tr:nth-child(even) td {
  background-color: #E1F9DC;
}

.table-hover tr:hover td {
  background-color: #cdeaf0;
}

.like {
  font-weight: bold;
  color: #3e7bd1;
}

img#like {
  vertical-align: middle;
  width: 1.6em;
}