<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>部落格</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'article/css/article.css' %}">
  </head>
  <body>

  {% if article %}
  <h2>修改文章</h2>
  <form method="post" action="{% url 'article:articleUpdate' article.id %}"></form>
{% else %}
  <h2>新增文章</h2>
  <form method="post" action="{% url 'article:articleCreate' %}">
{% endif %}
  {% csrf_token %}
      {{ articleForm.as_p }}
      <input class="btn" type="submit" value="送出">
      <a class="btn" href="{% url 'article:article' %}">放棄</a>
    </form>
  </body>
</html>