{% extends 'main/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}
{% block heading %}留言板{% endblock %}
{% block content %}
{% include 'article/searchForm.html' %}
    <p class="inlineBlock"><a class="btn" href="{% url 'article:articleCreate' %}">新增文章</a></p>
    <br><br><hr>
    {% for items in itemList %}
      {% for item in items %}
        {% if forloop.first %}
          <h3 class="inlineBlock"><a href="{% url 'article:articleRead' item.id %}">{{ item.title }}</a></h3>
          <form class="inlineBlock" method="post" action="{% url 'article:articleDelete' item.id %}">
        {% csrf_token %}
        <input class="btn deleteConfirm" type="submit" value="刪除">
      </form>
          <p>發表時間：{{ item.pubDateTime|date:'Y-m-d H:i' }}</p>
          <div class="articleContent">{{ item.content|linebreaks|truncatechars_html:30 }}</div>
          <p class=like>
          <img id=like src="{% static 'main/img/like.png' %}" alt="Like"> {{ item.likes.count }}
        </p>
        {% else %}
          <div class="commentDiv">
          	<span class="commentAuthor">{{ item.user.profile.fullName }}</span>
            <span class="comment">{{ item.content }}</span><br>
            <span class="commentTime">{{ item.pubDateTime|date:'m月d日 H:i' }}</span>
          </div>
        {% endif %}
      {% endfor %}
      <hr>
    {% endfor %}
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'main/js/deleteConfirm.js' %}"></script>
{% endblock %}
