<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>部落格</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
	{% include 'main/menu.html' %}
    <h2>關於 林至丞的部落格</h2>
    <p>歡迎來到林至丞的 部落格,你可以到留言版留言</p>
  </body>
</html>